replicaCount: 2

image:
  # repository will be set by CI/CD (ECR URL)
  repository: ""
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 80

containerPort: 3000

resources: {}

nodeSelector: {}
tolerations: []
affinity: {}
