name: Demo-K8s CI/CD

on:
  push:
    branches: ["main"]
  workflow_dispatch: {}

env:
  AWS_REGION: ${{ vars.AWS_REGION }}
  ECR_REPOSITORY: ${{ vars.ECR_REPOSITORY }}
  EKS_CLUSTER_NAME: ${{ vars.EKS_CLUSTER_NAME }}
 # K8S_NAMESPACE: ${{ vars.K8S_NAMESPACE }}
  IMAGE_TAG: ${{ github.sha }}

jobs:
  ci:
    name: Build & Push to ECR
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install deps & run tests
        working-directory: app
        run: |
          npm install
          npm test

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push image to ECR
        id: build-image
        uses: docker/build-push-action@v6
        with:
          context: ./app
          push: true
          tags: ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:${{ env.IMAGE_TAG }}

  cd:
    name: Deploy to EKS with Helm
    runs-on: ubuntu-latest
    needs: ci

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR (for registry URL)
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Install kubectl
        run: |
          sudo apt-get update
          sudo apt-get install -y kubectl

      - name: Install Helm
        run: |
          curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash

      - name: Update kubeconfig for EKS
        run: |
          aws eks update-kubeconfig \
            --name $EKS_CLUSTER_NAME \
            --region $AWS_REGION
        env:
          AWS_REGION: ${{ env.AWS_REGION }}
          EKS_CLUSTER_NAME: ${{ env.EKS_CLUSTER_NAME }}

#      - name: Create namespace if not exists
#        run: |
#          kubectl create namespace $K8S_NAMESPACE || echo "Namespace exists"
#        env:
#          K8S_NAMESPACE: ${{ env.K8S_NAMESPACE }}

#      - name: Deploy with Helm
#        env:
#          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
#          ECR_REPOSITORY: ${{ env.ECR_REPOSITORY }}
#          IMAGE_TAG: ${{ env.IMAGE_TAG }}
#          K8S_NAMESPACE: ${{ env.K8S_NAMESPACE }}
#        run: |
 #         IMAGE_REPO="$REGISTRY/$ECR_REPOSITORY"

 #         helm upgrade --install demo-k8s ./helm/demo-k8s \
 #           --namespace $K8S_NAMESPACE \
 #           --set image.repository=$IMAGE_REPO \
#            --set image.tag=$IMAGE_TAG
